@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

* a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@-webkit-keyframes coloresarco {
  from {
    background-color: #fc2c2c;
  }
  to {
    background-color: #f747a7;
  }
}

@keyframes coloresarco {
  from {
    background-color: #fc2c2c;
  }
  to {
    background-color: #f747a7;
  }
}

.epic {
  -webkit-animation: coloresarco 1s ease infinite alternate;
          animation: coloresarco 1s ease infinite alternate;
}

.box {
  position: fixed;
  top: 0;
  background-color: whitesmoke;
  bottom: 0;
  right: 0;
  width: 50%;
}

.box .header-box {
  display: block;
  margin: 0 50px;
}

.box .header-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 100%;
  background-color: #484848;
}

.box .header-box .section-1 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .header-box .section-1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3F3F3F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .header-box .section-1 .title i {
  margin-right: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: white;
  background-color: #484848;
  padding: 17px;
  font-size: 20px;
  -webkit-clip-path: circle(37% at 50% 50%);
          clip-path: circle(37% at 50% 50%);
  border-radius: 400px;
}

.box .header-box .section-1 .tools {
  font-size: 25px;
  color: #484848;
}

.box .header-box .section-1 .tools i {
  margin-left: 10px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.box .header-box .section-1 .tools i:hover {
  color: black;
}

.box .header-box .section-1 .tools i:first-of-type {
  margin-left: 0;
}

.box .header-box .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.box .body {
  margin-top: 20px;
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 195px);
}

.box .body .search {
  padding: 15px;
  background-color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .body .search::after {
  content: '';
  background-color: #484848;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 4rem;
  left: 50%;
  width: 30px;
  height: 25px;
}

.box .body .search i {
  color: white;
  font-size: 30px;
  padding-right: 20px;
}

.box .body .search input {
  text-align: center;
  width: 600px;
  padding: 10px;
  font-size: 16px;
  background-color: #797979;
  outline: none;
  border: none;
  color: white;
}

input::-webkit-input-placeholder {
  color: #c5c4c4;
}

input:-ms-input-placeholder {
  color: #c5c4c4;
}

input::-ms-input-placeholder {
  color: #c5c4c4;
}

input::placeholder {
  color: #c5c4c4;
}

table {
  margin-left: 49px;
}

tr {
  float: left;
  margin-top: 3rem;
  margin-right: 50px;
}

td::last-of-type {
  padding-right: 0;
}

.catafurni {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  position: relative;
}

.catafurni .name {
  overflow: hidden;
  white-space: nowrap;
  background-color: #484848;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  text-transform: capitalize;
  padding: 5px;
  max-width: 100%;
  text-overflow: ellipsis;
  font-size: 16px;
  text-align: center;
}

.catafurni .precio {
  color: #484848;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  right: 0;
  padding: 3px;
  width: 50px;
  height: 12px;
  border: 2px solid #484848;
  border-top: none;
}

.catafurni .precio img {
  width: 13px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.catafurni .img {
  padding-top: 15px;
  width: 120px;
  height: 90px;
}

.catafurni .class {
  text-transform: uppercase;
  background-color: #484848;
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 3px;
  text-align: center;
  font-family: 'Miriam Libre', sans-serif;
  margin: 0;
}

.btn {
  padding: 12px 10px;
  border-radius: 3px;
  text-align: center;
  width: 130px;
  font-size: 20px;
  margin-right: 15px;
}

.btn::last-of-type {
  margin-right: 0;
}

.grey {
  background-color: #A8A8A8;
}

.cyan {
  background-color: #5CC9FF;
}

.green {
  background-color: #31F89B;
}

.rose {
  background-color: #FF80F7;
}

.active {
  display: block !important;
}
/*# sourceMappingURL=main.css.map */